@model XCManager.Models.RaceReport
@{
    ViewBag.Title = "ReportForm";
}

<link rel="stylesheet" type="text/css" href="~/Content/ReportForm.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<h2>@Model.Race.RaceName Race Report</h2>
@using (Html.BeginForm("CreateReport", "RaceReport", FormMethod.Post))
{
    <table id="formTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Placing</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Results.Count(); i++)
            {
                <tr>
                    <td>@Model.Results[i].Runner.Name</td>
                    <td>@Html.TextBoxFor(r => r.Results[i].FinishingTime, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(r => r.Results[i].Place, new { @class = "form-control" })</td>
                </tr>
                @Html.HiddenFor(r => r.Results[i].Runner.Id)
            }
        </tbody>
    </table>
    <div class="text-center">
        @Html.HiddenFor(r => r.Race.Id)
        <button type="submit" class="btn btn-primary">Create Report</button>
        @Html.ActionLink("Back", "Index", "Schedule", new { @class = "btn btn-primary" })
    </div>
}



