@model XCManager.Models.ViewModels.RosterViewModel
@{
    ViewBag.Title = "Index";
}
<link type="text/css" rel="stylesheet" href="~/Content/Roster.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<h2>Roster</h2>
@if (Model.IsRunnersListEmpty)
{
<div class="text-center">
    <h3>Uh Oh!</h3>
    <p>Looks like you need to add some runners.</p>
</div>
}
else
{
    <table id="rosterTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var runner in Model.Runners)
            {
                <tr>
                    <td>@Html.ActionLink(runner.Name, "RunnerDetails", "Roster", new { id = runner.Id }, null)</td>
                    <td>@runner.Grade</td>
                    <td>@Html.ActionLink("Edit", "UpdateRunner", "Roster", new { id = runner.Id }, null) | @Html.ActionLink("Delete", "DeleteRunner", "Roster", new { id = runner.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="text-center">
    @Html.ActionLink("New Runner", "NewRunner", "null", new { @class = "btn btn-primary" })
</div>
