@model XCManager.Models.ViewModels.RunnerViewModel
@{
    ViewBag.Title = "RunnerDetails";
}
<link type="text/css" rel="stylesheet" href="~/Content/RunnerDetails.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<h2>@Model.Runner.Name</h2>
<div id="BigPanel" class="panel panel-default">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>General Info</h3>
                </div>
                <div class="panel-body">
                    <p>Grade: @Model.Runner.Grade</p>
                    <p>Injury Status:</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Contact Info</h3>
                </div>
                <div class="panel-body">
                    <p>Email: @Model.Runner.Email</p>
                    <p>Phone Number: @Model.Runner.PhoneNumber</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Personal Bests</h3>
                </div>
                <div id="personalBests" class="panel-body">
                    @if (Model.IsPersonalBestsEmpty)
                    {
                        <p>Could not find any personal bests.</p>
                    }
                    else
                    {
                        foreach (var keyValue in Model.PersonalBests)
                        {
                            <p>@keyValue.Key : @keyValue.Value.ToString(@"mm\:ss")</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Recent Races</h3>
                </div>
                <div id="RaceHistory" class="panel-body">
                    @if (Model.IsRecentResultsEmpty)
                    {
                        <p>Could not find any recent races.</p>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-4">
                                <p>Race</p>
                            </div>
                            <div class="col-lg-4">
                                <p>Time</p>
                            </div>
                            <div class="col-lg-4">
                                <p>Placing</p>
                            </div>
                        </div>
                        foreach (var result in Model.RecentResults)
                        {
                            <div class="row">
                                <div class="col-lg-4">
                                    <p>@result.Race.RaceName @result.Race.Date.ToShortDateString()</p>
                                </div>
                                <div class="col-lg-4">
                                    <p>@result.FinishingTime.ToString(@"mm\:ss")</p>
                                </div>
                                <div class="col-lg-4">
                                    <p>@result.Place</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <span>[</span>@Html.ActionLink("Back to Roster", "Index", "Roster")<span>]</span>
    </div>
</div>

