<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("XCManager", "TeamHome", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("XCManager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.IsInRole("BasicUser"))
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "TeamHome", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    <li class="dropdown">
                        <a href="#">My Team<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Roster", "Index", "Roster")</li>
                            <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
